.example-container {
    width: 220px;
    height: 220px;
    background-color: lightblue;
    position: relative;
    overflow: hidden;   
}

/* small box that will move inside the container */
.example-box {
    width: 40px;
    height: 40px;           
    background-color: navy;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    0% {
        background-color: aquamarine;
        transform: translate(0px, 0px);
    }
    25% {
        background-color: red;
        transform: translate(0px, 60px);
    }
    50% {
        background-color: yellow;
        transform: translate(80px, 120px);
    }
    75% {
        background-color: green;
        transform: translate(120px, 160px);
    }
    100% {
        background-color: blue;
        transform: translate(160px, 180px);
    }
}